---
import { Link } from 'react-router-dom';
import Button from '../components/ButtonLink.astro';
import Layout from '../components/Layout.astro';
import Svg from
---
<Layout title="Impressum" description="Kontakt- und Haftungsinformation von Michael van Engelshoven">
    <main class="max-w-prose mx-auto font-body leading-relaxed">
        <h1 class="font-display text-5xl text-pink-500 font-light mt-20">Impressum</h1>

        <p class="my-6">
            Michael van Engelshoven<br/>
            Nobelstraße 64<br/>
            53757 Sankt Augustin<br/>
            Deutschland
        </p>

        <p class="my-6">
            E-Mail:<br/>
            michael@van-engelshoven.de
        </p>

        <p class="my-6">
            Datenschutz:<br />
            <Link to="/datenschutz">https://michael-van-engelshoven.de/datenschutz</Link>
        </p>

        <h2 class="text-2xl text-sky-500 mt-12 mb-6">Haftungshinweis</h2>
        <p class="my-6">
            Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links.
            Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
        </p>
    </main>

    <footer class="mx-auto text-center mb-20 mt-10">
        <Button href="/" icon="images/arrow-left.svg">Zurück</Button>
    </footer>
</Layout>
